.container {
  /* list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  min-height: 100vh;
  min-width: 6rem;
  background: var(--blue-dark);
  list-style-type: none;
  padding: 50%;

  border: 10px solid green; */
  list-style-type: none;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 6rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: var(--blue-dark);
  overflow-x: hidden;
  padding: 2rem 0 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container li:first-child {
  margin-bottom: auto;
}

.container li:last-of-type {
  margin-top: auto;
}

.item {
  cursor: pointer;
}
