.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  /* padding: 2rem 3rem; */
  border-radius: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
}

.container header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  color: var(--black);
  /* background: url('/icons/levelup.svg') no-repeat center; */
  background-size: contain;
}

.container p {
  color: var(--text);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.formRegister {
  border-top: 1px solid #999;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.25rem;
}

.formRegister label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.formRegister input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  font-size: 16px;
}

button.closeRegister {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;

  font-size: 0; /* para diminuir e adequar o outline do botão que só tem um ícone dentro dele */
}

.submitContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  gap: 1rem;
}

.submitContainer a {
  color: var(--blue-dark);
}
.submitContainer a:hover {
  text-decoration: underline;
}

button.submitRegister {
  width: 50%;
  display: flex;
  justify-content: center;

  background: var(--green);
  padding: 15px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: var(--black);
  font-family: 'Arial';
  font-weight: 600;
  transition: 0.2s;
}

button.submitRegister:hover {
  background: var(--dark-green);
}
