.outterContainer {
  display: flex;
  flex-direction: row;
}

.contentContainer {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.contentContainer section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media screen and (max-width: 950px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contentContainer section {
    display: flex;
    flex-direction: column;
  }

  .contentContainer section div {
    padding: 0;
  }
}
